<div class="wrapper">
  <div class="container-stages">
    <div class="container-stage" *ngFor="let stage of stages">
      <div class="stage-head">
        <label>({{stage.items.length}}) {{stage.name}}</label>
        <app-task-new *ngIf="stage.stage === 1"></app-task-new>
      </div>
      <div class="container-cards" dragula="TASKS" [(dragulaModel)]="stage.items">
        <div *ngFor="let item of stage.items">
          <app-task [task]="item"></app-task>
        </div>
      </div>
    </div>
  </div>
</div>



