.card {
  cursor: grab;
  min-width: 55px;
  color: black;
  border: 1px solid darkblue;
  background-color: rgba(249, 249, 249, 0.55);
  border-radius: 5px;
  /* height: 120px; */
  width: 250px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 5px;
  padding: 5px;
}

.card:hover {
  color: red;
  animation: neon 1.5s ease-in-out infinite alternate;
  border: none;
  outline: none;
  box-shadow: 3px 1px 8px 5px lightblue;
}
