.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: move;
  min-width: 50px;
  min-height: 100px;


}
.tag{
  margin-bottom: 10px;

}

.tasks {
  overflow: scroll;
}

.card-title{
  cursor: pointer;
}
