<nav class="navbar bg-secondary navbar-dark  mb-5">
  <a class="navbar-brand" href="/">TaskIt</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">


  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Task" aria-label="Search">
    <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
  </form>




  </div>
</nav>
