.card {
  cursor: grab;
  min-width: 55px;
  color: black;
  border: 1px solid darkblue;
  background-color: rgba(249, 249, 249, 0.55);
  border-radius: 5px;
  /* height: 120px; */
  width: 250px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 5px;
  padding: 5px;
}

.editTask{

  width: 500px;

  position: absolute;
  top:150px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.w3-btn{
  margin-top: 20px;
}
