<!--<p>-->
  <!--<button  class="newTaskB  w3-teal" (click)="open()" >+</button>-->
<!--</p>-->



<ng-template #content let-c="close" let-closeModal="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label> Task Name </label>
        <input type="text" class="form-control"   placeholder="Task Name" [(ngModel)]= "newTask.name" name="taskName">
      </div>

      <div class="form-group">
        <label>description</label>
        <input type="text" class="form-control" placeholder="Enter description" [(ngModel)]= "newTask.description" name="taskDesc">
      </div>


          <select  class="form-control">
            <option >Choose User</option>
            <option>...</option>
          </select>

      <select  class="form-control">
        <option >Choose Stage</option>
        <option>...</option>
      </select>




    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="craeteNewTaskFunc(); closeModal('Cross click');">Save</button>
  </div>
</ng-template>

<button  class="newTaskB  w3-teal" (click)="open(content)" >+</button>

<!--<hr>-->

<!--<pre>{{closeResult}}</pre>-->

